<div>
    <div ng-if="licensingInfo">
        <konstrukt-message ng-if="!licensingInfo.isLicensed && licensingInfo.collectionsCount > 1" type="'warn'" heading="'Unlicensed'" icon="'exclamation-triangle'">
            <p>Konstrukt is currently running in an unlicensed mode and you have configured more than your allowed number of collections.<br /><br />You will only be able to save changes to the first collection in your config untill a valid license is installed. You can purchase a license from <a href="https://getkonstrukt.net?ref=lic-check" target="_blank">the Konstrukt website</a>.</p>
        </konstrukt-message>
    </div>
</div>