<div class="umb-property-editor umb-listview konstrukt__list-view">

    <umb-editor-sub-header  ng-class="{'--state-selection':(selection.length > 0)}">

        <umb-editor-sub-header-content-left>

            <!-- Create Button -->
            <umb-editor-sub-header-section ng-if="options.showCreateButton && collection && collection.canCreate && !isAnythingSelected()">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline" ng-click="createItem()">
                        <i class="{{collection.iconSingular}}"></i>
                        <localize key="actions_create">Create</localize> {{ collection.nameSingular }}
                    </button>
                </div>
            </umb-editor-sub-header-section>

            <!-- Data Views Dropdwn -->
            <umb-editor-sub-header-section ng-if="options.dataViews && options.dataViews.length > 0 && !isAnythingSelected()">
                <select ng-model="options.dataViewAlias" ng-options="dv.alias as dv.name group by dv.group for dv in options.dataViews" ng-change="changeDataView()" no-dirty-check></select>
            </umb-editor-sub-header-section>
             
            <!-- Clear Selection Button -->
            <umb-editor-sub-header-section ng-if="isAnythingSelected()">
                <div class="btn-group">
                    <umb-button type="button"
                        label="Clear selection"
                        label-key="buttons_clearSelection"
                        action="clearSelection()"
                        disabled="bulkActionInProgress">
                    </umb-button>
                </div>
            </umb-editor-sub-header-section>

            <!-- Selection Info -->
            <umb-editor-sub-header-section ng-if="isAnythingSelected()">
                <strong ng-show="!bulkActionInProgress">{{ selection.length }} <localize key="general_of">of</localize> {{ listViewResultSet.items.length }} <localize key="general_selected">selected</localize></strong>
                <div class="umb-loader-wrapper -bottom" ng-show="bulkActionInProgress">
                    <div class="umb-loader"></div>
                </div>
            </umb-editor-sub-header-section>

        </umb-editor-sub-header-content-left>


        <umb-editor-sub-header-content-right>

            <!--Filters -->
            <umb-editor-sub-header-section ng-if="!isAnythingSelected() && options.filters.length > 0">
                <button type="button" aria-expanded="false" class="umb-layout-selector__active-layout umb-outline" ng-class="{ 'btn-filter--has-filter' : hasFilterValues() }" ng-click="openFilter()" style="width: auto; min-width: 30px;">
                    <umb-icon icon="icon-filter"></umb-icon> 
                    <span ng-if="appliedFilterCount() > 0" style="font-size: 15px; line-height: 15px; font-weight: bold; padding: 0 2px;">{{ appliedFilterCount() }}</span>
                </button>
            </umb-editor-sub-header-section>

            <!-- View Toggle -->
            <umb-editor-sub-header-section ng-if="!isAnythingSelected() && options.layout.layouts.length > 1">

                <umb-layout-selector ng-if="options.layout.layouts"
                        layouts="options.layout.layouts"
                        active-layout="options.layout.activeLayout"
                        on-layout-select="selectLayout(layout)">
                </umb-layout-selector>

            </umb-editor-sub-header-section>

            <!-- Search -->
            <umb-editor-sub-header-section ng-if="!isAnythingSelected() && options.isSearchable">
                <form class="form-search -no-margin-bottom pull-right" novalidate>
                    <div class="inner-addon left-addon">
                        <i class="icon icon-search" ng-click="enterSearch($event)"></i>
                        <input class="form-control search-input"
                                type="text"
                                localize="placeholder"
                                placeholder="@general_typeToSearch"
                                ng-model="options.filter"
                                ng-change="enterSearch()"
                                ng-keydown="forceSearch($event)"
                                prevent-enter-submit
                                no-dirty-check>
                    </div>
                </form>
            </umb-editor-sub-header-section>

            <!-- Bulk Actions -->
            <umb-editor-sub-header-section ng-if="isAnythingSelected()">

                <umb-button ng-repeat="bulkAction in options.bulkActions"
                    type="button"
                    button-style="white"
                    label="{{ bulkAction.name }}"
                    icon="{{ bulkAction.icon }}"
                    action="performBulkAction(bulkAction)"
                    disabled="bulkActionInProgress"
                    size="xs"
                    add-ellipsis="true">
                </umb-button>

            </umb-editor-sub-header-section>

        </umb-editor-sub-header-content-right>

    </umb-editor-sub-header>

    <!-- Layout -->
    <umb-list-view-layout ng-if="viewLoaded"
        items="listViewResultSet.items"
        content-id="entityId"
        selection="selection"
        options="options"
        entity-type="Konstrukt"
        on-get-content="getContent(contentId)"
        on-item-click="openItem(item)"
        on-item-action-click="performRowAction(action, item.id)">
    </umb-list-view-layout>

    <umb-empty-state ng-if="viewLoaded && (!listViewResultSet.items || listViewResultSet.items.length === 0)" position="center">
        <div>No items found</div>
    </umb-empty-state>

    <umb-load-indicator ng-show="!viewLoaded"></umb-load-indicator>

    <!-- Pagination -->
    <umb-pagination ng-if="listViewResultSet.totalPages"
        page-number="options.pageNumber"
        total-pages="listViewResultSet.totalPages"
        on-next="nextPage"
        on-prev="prevPage"
        on-go-to-page="goToPage">
    </umb-pagination>

    <!-- Overlays -->
    <umb-overlay ng-if="ysodOverlay.show"
        model="ysodOverlay"
        position="right"
        view="ysodOverlay.view">
    </umb-overlay>

</div>
