<div class="konstrukt konstrukt__entity-picker-dialog" ng-controller="Konstrukt.Controllers.EntityPickerDialogController">

    <umb-load-indicator ng-if="loading"></umb-load-indicator>

    <form name="contentForm" novalidate val-form-manager>

        <umb-editor-view ng-if="!loading">

            <umb-editor-header name="collection.namePlural"
                name-locked="true"
                hide-alias="true"
                hide-icon="true"
                hide-description="true">
            </umb-editor-header>

            <umb-editor-container>
                
                <konstrukt-mini-list-view ng-if="collection"
                    options="listView.options"
                    on-get-items="listView.getItems"
                    on-select-item="listView.selectItem">
                </konstrukt-mini-list-view>

            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-right>

                    <umb-button type="button"
                        button-style="link"
                        label="Close"
                        label-key="general_close"
                        action="model.close()">
                    </umb-button>

                    <umb-button ng-if="dialogOptions.multiPicker"
                        type="button"
                        button-style="success"
                        shortcut="ctrl+s"
                        action="model.submit(model)"
                        label-key="general_submit"
                        label="Submit">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>
        </umb-editor-view>

    </form>

</div>
