<div class="konstrukt konstrukt__filter" ng-controller="Konstrukt.Controllers.FilterDialogController">

    <umb-load-indicator ng-if="loading"></umb-load-indicator>

    <umb-editor-view>

        <umb-editor-header name="page.name"
            name-locked="true"
            hide-alias="true"
            hide-icon="true"
            hide-description="true">
        </umb-editor-header>

        <umb-editor-container>

            <div ng-if="!loading">

                <div class="umb-group-panel" >

                    <div class="umb-group-panel__content">

                        <div class="control-group umb-control-group" ng-repeat="filter in filters track by filter.alias">
                            <div class="control-header" aria-hidden="false">
                                <label class="control-label" for="customerFirstName" title="customerFirstName">{{ filter.label }}</label>
                                <small class="control-description" ng-if="filter.description">{{ filter.description }}</small>
                            </div>
                            <div class="controls" ng-init="model = filter.model">
                                <div ng-include="filter.view"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>

                <umb-button type="button"
                    button-style="link"
                    label="Cancel"
                    shortcut="esc"
                    action="close()">
                </umb-button>
    
                <umb-button type="button"
                    button-style="info"
                    label="Reset"
                    action="reset()">
                </umb-button>

                <umb-button type="button"
                    button-style="success"
                    label="Apply"
                    action="save()">
                </umb-button>

            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>

</div>
