<div class="konstrukt" ng-controller="Konstrukt.Controllers.DateRangeFilterController" style="display: flex; gap: 10px;">
    <umb-date-time-picker ng-model="model.value[0]"
        options="fromConfig"
        on-change="fromChange(selectedDates, dateStr, instance)"
        class="flex-1" >
    </umb-date-time-picker>
    <umb-date-time-picker ng-model="model.value[1]"
        options="toConfig"
        on-change="toChange(selectedDates, dateStr, instance)"
        class="flex-1" >
    </umb-date-time-picker>
</div>