<div ng-controller="Konstrukt.Controllers.SectionDashboardController" class="umb-packages-section konstrukt__dashboard">

    <konstrukt-license-check></konstrukt-license-check>

    <div class="umb-packages">

        <div class="umb-package konstrukt__dashboard__item" ng-repeat="collection in collections">
            <div class="inner">

                <div class="konstrukt__dashboard__item-overlay">
                    <a ng-if="collection.canCreate" href="#/{{ collection.collectionSourceAlias }}/konstrukt/edit/{{collection.alias}}"><i class="icon-add"></i></a>
                    <a href="#/{{ collection.collectionSourceAlias }}/konstrukt/list/{{collection.alias}}"><i class="icon-link"></i></a>
                </div>

                <div class="umb-package-icon">
                    <i class="umb-content-grid__icon konstrukt__dashboard__item__icon {{ collection.iconPlural }}"></i>
                </div>

                <div class="umb-package-info">
                    <div class="umb-package-name">{{ collection.namePlural }}</div>
                    <div class="umb-package-description">{{ collection.description }}</div>

                    <div class="umb-package-numbers">
                        <small class="umb-package-downloads">
                            <i class="icon-server-alt"></i> <strong>{{ collection.entityCount }}</strong>
                        </small>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>