<div ng-controller="Konstrukt.Controllers.SettingsDashboardController" class="konstrukt__dashboard">

    <umb-editor-view footer="false">

        <umb-editor-container style="top: 0;">

            <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

            <konstrukt-license-check></konstrukt-license-check>

            <div class="konstrukt-layout konstrukt-layout--layout1">

                <div class="konstrukt-layout__left">

                    <umb-box>
                        <umb-box-content>

                            <div style="text-align: center; padding: 30px 0;">
                                <img src="/App_Plugins/Konstrukt/backoffice/assets/logo_full_dark.svg" alt="Konstrukt" width="250" />
                            </div>

                            <hr />

                            <p>Welcome to the Konstrukt settings section. From here you can setup and manage your Konstrukt licenses as well as view relevant information about your your installation.</p>
                            <p>If you need help getting started with Konstrukt you can follow the below links to get started.</p>
                            <h5>Find out more</h5>
                            <ul>
                                <li>Read guides and API reference material over on our <a class="btn-link -underline" href="https://getkonstrukt.net/docs/" target="_blank">Documentation site</a></li>
                                <li>Ask a question in the <a class="btn-link -underline" href="https://our.umbraco.com/packages/website-utilities/konstrukt/konstrukt-support/" target="_blank">Konstrukt Community Forum</a></li>
                                <li>Buy a license from the <a class="btn-link -underline" href="https://getkonstrukt.net" target="_blank">Konstrukt site</a></li>
                            </ul>

                        </umb-box-content>
                    </umb-box>

                </div>

                <div class="konstrukt-layout__right">

                    <umb-box>
                        <umb-box-header title="System Info"></umb-box-header>
                        <umb-box-content class="block-form">

                            <umb-control-group label="Installed Version">
                                <div style="display: flex; justify-content: space-between;align-items: center;">
                                    <div>Konstrukt v{{konstruktInfo.version}}</div>
                                    <!--<umb-badge color="success" size="s">Latest</umb-badge>-->
                                </div>
                            </umb-control-group>

                            <umb-control-group label="Instance ID">
                                {{konstruktInfo.instanceId}}
                            </umb-control-group>

                        </umb-box-content>

                    </umb-box>

                    <umb-box>
                        <umb-box-header title="Installed Licenses"></umb-box-header>
                        <umb-box-content class="block-form">

                            <div ng-repeat="license in licensingInfo.licenses">
                                <hr ng-if="$index > 0" />
                                <umb-control-group label="Key">{{license.key}}</umb-control-group>
                                <umb-control-group label="Status">
                                    <umb-badge color="success" size="s" ng-if="license.isActive">Active</umb-badge>
                                    <umb-badge color="grey" size="s" ng-if="!license.isActive">Inactive</umb-badge>
                                </umb-control-group>
                                <umb-control-group label="Plan" ng-if="license.plan">{{license.plan}}</umb-control-group>
                                <umb-control-group label="Domains" ng-if="license.fingerprintType == 'Domain'">
                                    <ul>
                                        <li ng-repeat="domain in license.fingerprints">
                                            <span ng-if="domain == '*'">Unlimited</span>
                                            <span ng-if="domain != '*'">{{domain}}</span>
                                        </li>
                                    </ul>
                                </umb-control-group>
                                <umb-control-group label="Instance IDs" ng-if="license.fingerprintType == 'InstanceId'">
                                    <ul>
                                        <li ng-repeat="id in license.fingerprints">{{id}}</li>
                                    </ul>
                                </umb-control-group>
                            </div>

                        </umb-box-content>

                    </umb-box>

                </div>

            </div>

        </umb-editor-container>

    </umb-editor-view>
</div>